<div>
  <div class="row">
    <div class="column large-3 medium-3"
         ng-repeat="picture_url in ctrl.listing.picture_urls | limitTo:4">
         <img ng-src="{{picture_url}}" />
      
    </div>
  </div>
  <div class="row">
    <div class="column large-6 validate-wrapper">
      <ng-map zoom="2">
      <a class="button validate-answer" 
          ng-click="ctrl.validateAnswer()"
      >Valider</a>
    </div>
  </div>
  <div class="row">
    <div class="column large-12">{{ctrl.chaleur}}</div>
    <a class="button" 
          ng-click="ctrl.randomListing()"
      >Changer</a>
  </div>
</div>